[user]
	email = timothee.groleau@gmail.com
	name = Timothee Groleau
[color]
	ui = true
[alias]
    lg = log --graph --pretty=oneline --abbrev-commit --all --decorate
    chekcout = checkout
[push]
	default = simple
